.sider-logo {
    color: white;
    font-size: 20px;
    text-align: center;
    img {
        width: 180px;
    }
}

.header-logout {
    display: inline-block;
    float: right;
    margin-right: 16px;
}

.header {
    width: 100%;
}